.styles_C6Q6h {
    padding: 130px 20px 130px !important;
    align-items: center;
    background-image: url(https://img-baofun.zhhainiao.com/pcwallpaper_ugc/static/815172bac4c52a2f566e5f3020197a44.jpg?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_960%2Ch_540);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #e8eaf2;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.styles_svCqL {
  width: 100%;
  max-width: 480px;
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.05);
  background-color: white;
  padding: 30px 45px;
  border-radius: 4px;
  margin: 0 auto; /* 将元素水平居中 */
}